{% extends 'index.html' %}
{% block body %}
 <body>
  	<div class="container mx-auto">
  <div class="row">
    <div class="col-sm-2 d-none d-lg-block d-xl-block"></div>
    <div class="col-sm-8">
      <div class="card" style="border:none;">
      	  <img src="https://cdn.dribbble.com/users/2387623/screenshots/7026223/media/b6d3d311773a99fc8515c591cd069909.jpg" class="card-img-top" style="width: ">
		  <div class="card-body text-center">
		    <h5 class="card-title" style="margin-top: -10%;font-family: Quicksand; font-weight: 600;font-size: 24px;">Page Not Found</h5>
		    <p class="card-text mt-3" style="font-size: 20px;">
		    	The page for which you are searching currently unavailable.
		    </p>
		    <a href="/" class="btn btn-primary mt-2">Go Back to Edu Dev</a>
		  </div>
		</div>
    </div>
    <div class="col-sm-2 d-none d-lg-block d-xl-block"></div>
  </div>
</div>
  </body>
{% endblock body %}