<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="icon" href="icon_path" type="image/icon type"> -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- End Bootsrtap Link -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Heebo|Quicksand|Slabo+27px&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <!-- End  -->
    <style>
        a,a:hover{
        text-decoration: none;
        color: currentColor;
        text-underline-position: none;
      }
      body{
        font-family: "Roboto";
        padding: 0;
        margin: 0;
      }
      .nava{
        font-size: 32px;
        padding: 4px;
        margin-top: 0.2%;
      }
      .navtext{
        font-size: 24px;
        color: #5f6368;
        font-family: Quicksand;
        font-weight: normal;

      }
      .ihs1:hover{
        border-radius: 50%;
        box-shadow: 1px 1px 4px 1px #fbbc04;
        color: #fbbc04;
       
      } 
      .fic::before{
        content: "| ";
        margin-right: 5px;
        color: grey;
      }
      .title{
            font-size: 28px;
            line-height: 36px;
            color: #202124;
            font-family: Quicksand;
      }
      .subtitle{
        font-size: 16px;
        line-height: 24px;
        color: #5f6368;

      }
      .content:hover{
        box-shadow: 1px 1px 3px 2px rgba(66,133,244,0.7);
        border-radius: 12px;
        
      }
      .content:active{
        box-shadow: 1px 1px 4px 1px rgba(52,168,83,0.8);
        border-radius: 12px;
        width: 104%;


      }
      .titlelink:hover{
        text-decoration: underline;
      }

</style>
    <title>Edu-Dev</title>
  </head>

<body>

    <nav class="navbar">
        <a href="index.html">
            <div>
         <span class="material-icons" style="font-size: 20px;">first_page</span>
         <span class=" nava navtext"> Edu Dev</span> 
         <span style="font-size: 18px;"> Student Panel</span>
     </div></a>
    <!-- WEB NAV TITLE -->
    <div class="d-flex bd-highlight ">
  <div class="mr-auto bd-highlight" id="t2"  data-toggle="tooltip" data-placement="left" title="Want help ?">
    <a href="help.html">
    <span class="material-icons nava im ihs1" style="box-shadow: none;font-size: 28px; line-height: 40px;">
      help_outline 
      </span></a>
  </div>
  <div class="bd-highlight pr-1" id="t3"  data-toggle="tooltip" data-placement="bottom" title="Login">
     <a href="login.html">
    <span class="material-icons nava im " style="box-shadow: none;line-height: 38px;">
      account_circle 
      </span></a>
  </div>
      </div>

</nav> 

<!-- Starting Of the Dynamic Contents -->
<div class="container text-center mt-4 ">
        <div class="title">Assignment Collection</div>
        <div class="subtitle mt-2 pr-3 pl-3">
          The assignments submited by your class teacher are showing below
        </div>
        </div>

<div class="container mx-auto">

<div class="row">
  <div class="col-1 d-none d-lg-block d-xl-block"></div>
<div class="col">
  
  <ul class="list-group list-group-flush">
  <li class="list-group-item"></li>
  
  <li class="list-group-item" style="opacity: 0.5;">
    <div class="card-body">
        <div class="d-flex bd-highlight">
          <div class="flex-grow-1 bd-highlight">
            <!-- Heading 1 Title -->
            <h5 class="mb-0">Maths | Chap. 6 | The Law of Nature
            </h5>
            <div class="text-muted"><small> 8:30:25 | 07/04/20 </small></div>
            <!-- End -->
            <!-- Here the condition if point = 1 than-->
            <p class="mt-2" style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectet</p>
                      <div class="d-flex bd-highlight ">
                <div class="bd-highlight ">
                  <span class="material-icons mr-1" style="line-height: 20px;">
                  alarm
                  </span>
                </div>
          <div class="flex-grow-1 bd-highlight" >
               Schedule Post | Live on | Today 02:30 pm
             </div>
           </div>
             
            <!-- Else it will be shown in points with ul -->
            <!-- End -->
          </div>
          <div class="bd-highlight ml-2 d-none d-lg-block d-xl-block" style="border-left: 1px solid #dfdfdf;">
            <!-- Image Area -->
             <img src="https://cdn.pixabay.com/photo/2017/03/08/21/20/pdf-2127829_1280.png" style="width: 95px;" class="ml-4 mt-2">
             <!-- End -->
            </div>
        </div>

     </div>
  </li>

  <li class="list-group-item">
            <a href="#" target="_blank">
    <div class="card-body content" >
        <div class="d-flex bd-highlight ">
          <div class="flex-grow-1 bd-highlight">
            <h5 class="mb-0">Science | Chap. 2 | Matters
            </h5>
            <div class="text-muted"><small> 8:30:25 | 07/04/20 </small></div>
            <p class="mt-2" style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectet</p>
            <div class="d-flex bd-highlight ">
                <div class="bd-highlight ">
                <i class="fas fa-arrow-circle-right mr-2" style="font-size: 20px;"></i>
                </div>
          <div class="flex-grow-1 bd-highlight " >
               Submission Date | 10/5/20
             </div>
           </div>
          </div>
          <div class="bd-highlight ml-2 d-none d-lg-block d-xl-block" style="border-left: 1px solid #dfdfdf;">
            <!-- Image Area -->
             <img src="https://cdn.iconscout.com/icon/free/png-256/google-docs-2038784-1721674.png"style="width: 90px;" class="ml-4 mt-2">
             <!-- End -->
            </div>
        </div>

     </div></a>
   </li>
  <li class="list-group-item">
            <a href="#" target="_blank">
    <div class="card-body content">
        <div class="d-flex bd-highlight">
          <div class="flex-grow-1 bd-highlight">
            <h5 class="mb-0">Study Materials plusplus Ed
            </h5>
            <div class="text-muted"><small> 8:30:25 | 07/04/20 </small></div>
            <p class="mt-2" style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectet</p>

            <!-- <p class="mb-0">Submission Date | Today | </p> 
             -->
             <div class="d-flex bd-highlight ">
                <div class="bd-highlight ">
                  <span class="material-icons mr-2" style="line-height: 20px;">
                  cloud_upload

                  </span>
                </div>
          <div class="flex-grow-1 bd-highlight" >
              Upload Assignment | <a href="https://driveuploader.com/upload/Tv9v6Fuxd4/" class="titlelink" target="_blank"> Click Here</a>
             </div>

           </div>
             </div>
          <div class="bd-highlight ml-2 d-none d-lg-block d-xl-block" style="border-left: 1px solid #dfdfdf;">
            <!-- Image Area -->
             <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRblCV_REDJxwK5E2rrqn7YKjbOJyLpppVNKluWOseKFpVt_J62&usqp=CAU" style="width: 90px;" class="ml-4 mt-2">
             <!-- End -->
            </div>
        </div>

     </div></a>
   </li>
  <li class="list-group-item">
    <a href="" target="_blank">
    <div class="card-body content">
        <div class="d-flex bd-highlight">
          <div class="flex-grow-1 bd-highlight">
            <h5 class="mb-0">Study Materials plusplus Ed
            </h5>
            <div class="text-muted"><small> 8:30:25 | 07/04/20 </small></div>
            <!-- End -->
            <!-- Here the condition if point = 1 than-->
            <p class="mt-2" style="font-size: 14px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod consectet</p>
            <div class="d-flex bd-highlight ">
                <div class="bd-highlight ">
                  <span class="material-icons mr-2" style="line-height: 20px;">
                  cloud_done

                  </span>
                </div>
          <div class="flex-grow-1 bd-highlight" >
               Uploading Expire | 12/5/20
             </div>
           </div>
          </div>
          <div class="bd-highlight ml-2 d-none d-lg-block d-xl-block" style="border-left: 1px solid #dfdfdf;">
            <!-- Image Area -->
             <img src="https://cdn.pixabay.com/photo/2017/03/08/21/20/pdf-2127829_1280.png" style="width: 95px;" class="ml-3 mt-2">
             <!-- End -->
            </div>
        </div>

     </div></a>
  </li>
   <li class="list-group-item"></li>
</ul>
</div>
<div class="col-1 d-none d-lg-block d-xl-block"></div>
    </div>
</div>

<div class="modal-footer" style="border-bottom: solid 1px #DEE2E6; margin-top: 8%;padding: 6px;">
  <span class="fic"><i class="fab fa-facebook-f"></i></span>
  <span class="fic"><i class="fab fa-twitter "></i></span>
  <span class="fic"><i class="fab fa-youtube"></i></span>
  <span class="fic"><i class="fab fa-linkedin-in"></i></span>
  
  </div>
<footer class="page-footer font-small  mb-1 text-muted" style="background-color: #F7F7F7">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 d-none d-lg-block d-xl-block">© 2020 Copyright : Edu Dev | Bulit under supervision of Mr. Shah & Company
  </div>
  
  <div class="footer-copyright text-center py-3 d-sm-block d-lg-none">© 2020 Copyright : Edu Dev | Mr. Shah
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
     
  </body>
</html> 