<div class="modal-footer" style="border-bottom: solid 1px #DEE2E6; margin-top: 5%;padding: 6px;">
  <span class="fic"><i class="fab fa-facebook-f"></i></span>
  <span class="fic"><i class="fab fa-twitter "></i></span>
  <span class="fic"><i class="fab fa-youtube"></i></span>
  <span class="fic"><i class="fab fa-linkedin-in"></i></span>
  
  </div>
<footer class="page-footer font-small  mb-1 text-muted" style="background-color: #F7F7F7">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 d-none d-lg-block d-xl-block">© 2020 Copyright : Edu Dev | Bulit under supervision of Mr. Shah & Company
  </div>
  
  <div class="footer-copyright text-center py-3 d-sm-block d-lg-none">© 2020 Copyright : Edu Dev | Mr. Shah
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 {% block content %}

 {% endblock %}